@use "./partials/mixins" as *;
@use "./partials/fonts" as *;
* {
margin: 0;
}
a {
  font: inherit;
}
body {
    margin: 0%;
    font-family: "Avenir";
    padding-right: 16px;
    padding-left: 16px;
}
.navbar {
    background-color: #323232;
    color: #FFFFFF;
    &-logo__container {
        display: flex;
        justify-content: center;
        @include tablet {
          justify-content: left;
          padding-left: 25px;
          padding-top: 20px;
        }
    }
    &-pages {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0%;
        
    }   
}

li {
    list-style-type: none;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
li:hover a {
  background-color:darkgray;
  border-radius: 5px;
  }
.main {
  min-width: 320px;
&-hero__image {
    background: url(/assets/images/hero-bio.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px;
    min-height: auto;
}
&-hero__image--text {
    padding-top: 148px;
    padding-left: 16px;
    padding-bottom: 148px;
    position: relative;
    color: #FFFFFF;
    font-weight: 700;
    @include tablet {
      font-size: 60px;
      font-weight: 600;
    }
}
&-image__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
&-images__container {
padding-left: 20px;
padding-right: 20px;
}
&-bio__image {
    width: 100%;
    height: auto;
    @include tablet {
      width: 90%;
      margin-left: 35px;;
    }
    @include desktop {
      width: 1000px;
      height: 600px;
      padding-left: 90px;
    }
}

&-bio__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
&__title {
    padding: 1px;
    padding-top: 15px;
    padding-bottom: 10px;
}
&__title--mod {
  font-weight: 600;
  font-size: 23px;
}
&-text-container__info {
padding-top: 10px;
padding-bottom: 10px;
line-height: 1.5;
font-weight: 600;
@include desktop{
  padding-left: 120px;
}
}
&-text-container__info--a {
  padding-bottom: 20px;
  font-weight: 600;
  @include desktop {
    padding-left: 120px;
  }
}
&-text-container__info--aa {
  @include tablet {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  } 
}
&-text-container-b {
  @include tablet {
    display: flex;
  }
  @include desktop {
    justify-content: space-evenly;
  }
}
&-text-container__info--b {
line-height: 1.5;
font-size: 13px;
padding-bottom: 15px;
@include tablet {
  font-size: 14px;
}
@include desktop {
  padding-left: 175px;
}
}
&-text-container__info--bb {
font-weight: 600;
padding-bottom: 15px;
}
&-text-container__info--bbb {
  @include tablet {
    line-height: 2;
    font-size: 14px;
    padding-right: 15px;
  }
  @include desktop {
    width: 350px;
    line-height: 1.5;
  }
}
  &-container {
display: flex;
flex-wrap: wrap;
}
&-text-container__b {
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
}

.gallery {
  background-color: #FAFAFA;
  &-images {
    padding-left: 12px;
 }  
    &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 &-images {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0%;
  font-weight: 600;
  font-size: 25px;
  @include tablet {
    padding-left: 25px;
    font-size: 30px;
  }
  @include desktop {
    padding-left: 70px;
  }
 }
 &-image__item{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  justify-content: space-evenly;
  @include tablet {
    width: 215px;
    height: 125px;
  }
  @include desktop {
    width: 350px;
    height: 225px;
  }
}
&-image__item--mod1 {
  @include tablet {
    padding-left: 25px;
    padding-right: 25px;
  }
  @include desktop {
    padding-left: 70px;
  }
}
&-image__item--mod2 {
  @include tablet {
    padding-right: 25px;
  }
}
}

.contact-info {
    background-color: #323232;
    color: #FFFFFF;
    padding-left: 20px;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
    
    &__container {
      display: flex;
      padding-bottom: 20px;
      @include tablet {
        margin-right: 20px;
        padding-top: 25px;
        
      }
    }
    &__title {
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: 600;
      font-size: 20px;
      @include tablet {
        padding-right: 25px;
        font-size: 30px;
      }
    }
    &__title-a {
        padding-right: 20px;
      
    }
    &__title-c {
        padding-left: 20px;
      
    }
    &__contacts {
      @include tablet {
        display: flex;
        width: 100%;
      }
    }
    &__contact--mod {
    padding-bottom: 20px;
    font-size: 14px;
    @include tablet {
      padding-right: 40px;
    }
  }
  &__contact--mod2 {
    padding-bottom: 25px;
    @include tablet {
      padding-right: 40px;
    }
  }
  &__contact--mod3 {
    padding-bottom: 60px;
  }
  &__contact--mod4 {
    font-weight: 600;
  }
}


.additional-info {
    background-color: #323232;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    color: #FFFFFF;
    @include tablet {
      padding-bottom: 20px;
    }
    &__image {
      padding-bottom: 15px;
    }
    &--mod {
      font-size: 12px;
      padding-bottom: 15px;
    }
}

