@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
* {
  margin: 0;
}

a {
  font: inherit;
}

body {
  margin: 0%;
  font-family: "Avenir";
  padding-right: 16px;
  padding-left: 16px;
}

.navbar {
  background-color: #323232;
  color: #FFFFFF;
}
.navbar-logo__container {
  display: flex;
  justify-content: center;
}
.navbar-pages {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0%;
}

li {
  list-style-type: none;
}

.main {
  min-width: 320px;
}
.main-hero__image {
  background: url(/assets/images/hero-bio.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0px;
  min-width: 100vw;
  min-height: auto;
}
.main-hero__image--text {
  padding-top: 148px;
  padding-left: 16px;
  padding-bottom: 148px;
  position: relative;
  color: #FFFFFF;
  font-weight: 700;
}
@media (min-width: 768px) {
  .main-hero__image--text {
    font-size: 60px;
    font-weight: 600;
  }
}
.main-image__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-images__container {
  padding-left: 20px;
  padding-right: 20px;
}
.main-bio__image {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .main-bio__image {
    width: 90%;
    margin-left: 35px;
  }
}
.main-image__gallery--item {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .main-image__gallery--item {
    width: 215px;
    height: 125px;
  }
}
@media (min-width: 768px) {
  .main-image__gallery--item1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 768px) {
  .main-image__gallery--item2 {
    padding-right: 25px;
  }
}
.main-bio__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main__title {
  padding: 1px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.main__title--mod {
  font-weight: 600;
  font-size: 23px;
}
.main-text-container__info {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-weight: 600;
}
.main-text-container__info--a {
  padding-bottom: 20px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .main-text-container__info--aa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .main-text-container-b {
    display: flex;
  }
}
.main-text-container__info--b {
  line-height: 1.5;
  font-size: 13px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .main-text-container__info--b {
    font-size: 14px;
  }
}
.main-text-container__info--bb {
  font-weight: 600;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .main-text-container__info--bbb {
    line-height: 2;
  }
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.main-text-container__b {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.gallery {
  background-color: #FAFAFA;
}
.gallery-images {
  padding-left: 12px;
}
.gallery__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery-images {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0%;
  font-weight: 600;
  font-size: 25px;
}
@media (min-width: 768px) {
  .gallery-images {
    padding-left: 25px;
    font-size: 30px;
  }
}

.contact-info {
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
}
.contact-info__container {
  display: flex;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .contact-info__container {
    margin-right: 20px;
    padding-top: 25px;
  }
}
.contact-info__title {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}
@media (min-width: 768px) {
  .contact-info__title {
    padding-right: 25px;
    font-size: 30px;
  }
}
.contact-info__title-a {
  padding-right: 20px;
}
.contact-info__title-c {
  padding-left: 20px;
}
@media (min-width: 768px) {
  .contact-info__contacts {
    display: flex;
    width: 100%;
  }
}
.contact-info__contact--mod {
  padding-bottom: 20px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .contact-info__contact--mod {
    padding-right: 40px;
  }
}
.contact-info__contact--mod2 {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .contact-info__contact--mod2 {
    padding-right: 40px;
  }
}
.contact-info__contact--mod3 {
  padding-bottom: 60px;
}
.contact-info__contact--mod4 {
  font-weight: 600;
}

.additional-info {
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  color: #FFFFFF;
}
.additional-info__image {
  padding-bottom: 15px;
}
.additional-info--mod {
  font-size: 12px;
  padding-bottom: 15px;
}/*# sourceMappingURL=bio.css.map */