@use "../styles/partials/mixins" as *;
@use "../styles/partials/fonts" as *;

* {
    margin: 0;
    font-family: Avenir ;
    }
a {
    font: inherit;
    color: #FFFFFF;
    text-decoration: none;
    }
.navbar {
    background-color: #323232;
    color: #FFFFFF;
    &-logo__container {
    display: flex;
    justify-content: center;
    width: 100%;
    @include tablet {
    justify-content: left;
    padding-left: 25px;
    padding-top: 20px;
     }
     } }
    .navbar-pages {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0%; 
 }
 .navbar-logo {
  @include tablet{
    position: absolute;
  }
  
 }

li {
  list-style-type: none;
}
.shows {
  min-width: 320px;
  &-header__image {
      background: url(/assets/images/hero-shows.jpg);
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 0px;
      height: 320px;
      @include tablet {
        height: 450px;
      }
}
&-header__image--text {
  // padding-top: 148px;
    padding-left: 16px;
    // padding-bottom: 148px;
    position: relative;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    @include tablet {
      font-size: 60px;
      width: 550px;
    }
}
&-list {
  margin-left: 15px;
}
&-list__headerText {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
}
&-header__image--subText {
  color: #FFFFFF;
  font-size: 14px;
  padding-top: 40px;
  padding-left: 16px;
  @include tablet {
    font-size: 24px;
  }
}
&-header__audio {
  @include tablet {
    width: 400px;
    margin-left: 15px;
  }
}
&-list__info {
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
}
&-list__section {
  margin-bottom: 30px;
  border-bottom: #E1E1E1 1px solid;
}
&-lists__label {
  margin-bottom: 5px;
  color: #AFAFAF;
  font-size: 13px;
  @include tablet {
    display: none;
  }
}
&-lists__location {
  margin-bottom: 20px;
  @include tablet {
    margin-right: 10px;
  }
}
&-lists__date {
  font-weight: 700;
  margin-bottom: 10px;
  @include tablet {
    margin-right: 10px;
  }
}
&-lists__venue {
  margin-bottom: 10px;
  @include tablet {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
&-lists__button {
  background-color: #323232;
  color: #FFFFFF;
  width: 280px;
  height: 40px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
  @include tablet {
    margin-left: 20px;
    width: 125px;
    height: 40px;
  }
}
button:hover {
  background-color: #000000;
}
}
.contact-info {
    background-color: #323232;
    color: #FFFFFF;
    padding-left: 20px;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }  
    &__container {
      display: flex;
      padding-bottom: 20px;
      @include tablet {
        margin-right: 20px;
        padding-top: 25px;    
      }
    }
    &__title {
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: 600;
      font-size: 20px;
      @include tablet {
       padding-right: 25px;
       font-size: 30px;
      }
      @include desktop {
        margin-left: 50px;
      }
    }
    &__title-a {
        padding-right: 20px;
      
    }
    &__title-c {
        padding-left: 20px;
      
    }
    &__contacts {
      @include tablet {
        display: flex;
        width: 100%;
      }
    }
    &__contact--mod {
      padding-bottom: 20px;
      font-size: 14px;
     @include tablet {
       padding-right: 40px;
    }
  }
  &__contact--mod2 {
     padding-bottom: 25px;
    @include tablet {
      padding-right: 40px;
    }
  }
  &__contact--mod3 {
    padding-bottom: 60px;
  }
  &__contact--mod4 {
    font-weight: 600;
  }
  &__contact {
    @include desktop {
      padding-right: 25px;
      margin-left: 50px;
    }
  }
  &__logo {
    display: none;
    @include tablet {
      display: flex;
      padding-left: 250px;
    }
    @include desktop {
      padding-left: 675px;
    }
  }
  &__logo2 {
    @include tablet {
      display: none;
    }
  }
}
.additional-info {
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  color: #FFFFFF;
  @include tablet {
    padding-bottom: 20px;
  }
  &__image {
    padding-bottom: 15px;
  }
  &--mod {
    font-size: 12px;
    padding-bottom: 15px;
    @include desktop {
      padding-left: 50px;
    }
  }
  @include desktop {
    font-size: 14px;
  }
}