@font-face {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
* {
  margin: 0;
  font-family: Avenir;
}

a {
  font: inherit;
  color: #FFFFFF;
  text-decoration: none;
}

.navbar {
  background-color: #323232;
  color: #FFFFFF;
}
.navbar-logo__container {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar-logo__container {
    justify-content: left;
    padding-left: 25px;
    padding-top: 20px;
  }
}

.navbar-pages {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0%;
}

@media (min-width: 768px) {
  .navbar-logo {
    position: absolute;
  }
}

li {
  list-style-type: none;
}

.shows {
  min-width: 320px;
}
.shows-header__image {
  background: url(/assets/images/hero-shows.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0px;
  height: 320px;
}
@media (min-width: 768px) {
  .shows-header__image {
    height: 450px;
  }
}
.shows-header__image--text {
  padding-left: 16px;
  position: relative;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
}
@media (min-width: 768px) {
  .shows-header__image--text {
    font-size: 60px;
    width: 550px;
  }
}
.shows-list {
  margin-left: 15px;
}
.shows-list__headerText {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
}
.shows-header__image--subText {
  color: #FFFFFF;
  font-size: 14px;
  padding-top: 40px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .shows-header__image--subText {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .shows-header__audio {
    width: 400px;
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .shows-list__info {
    display: flex;
    justify-content: space-around;
  }
}
.shows-list__section {
  margin-bottom: 30px;
  border-bottom: #E1E1E1 1px solid;
}
.shows-lists__label {
  margin-bottom: 5px;
  color: #AFAFAF;
  font-size: 13px;
}
@media (min-width: 768px) {
  .shows-lists__label {
    display: none;
  }
}
.shows-lists__location {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .shows-lists__location {
    margin-right: 10px;
  }
}
.shows-lists__date {
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .shows-lists__date {
    margin-right: 10px;
  }
}
.shows-lists__venue {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .shows-lists__venue {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.shows-lists__button {
  background-color: #323232;
  color: #FFFFFF;
  width: 280px;
  height: 40px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .shows-lists__button {
    margin-left: 20px;
    width: 125px;
    height: 40px;
  }
}
.shows button:hover {
  background-color: #000000;
}

.contact-info {
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
}
.contact-info__container {
  display: flex;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .contact-info__container {
    margin-right: 20px;
    padding-top: 25px;
  }
}
.contact-info__title {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}
@media (min-width: 768px) {
  .contact-info__title {
    padding-right: 25px;
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  .contact-info__title {
    margin-left: 50px;
  }
}
.contact-info__title-a {
  padding-right: 20px;
}
.contact-info__title-c {
  padding-left: 20px;
}
@media (min-width: 768px) {
  .contact-info__contacts {
    display: flex;
    width: 100%;
  }
}
.contact-info__contact--mod {
  padding-bottom: 20px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .contact-info__contact--mod {
    padding-right: 40px;
  }
}
.contact-info__contact--mod2 {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .contact-info__contact--mod2 {
    padding-right: 40px;
  }
}
.contact-info__contact--mod3 {
  padding-bottom: 60px;
}
.contact-info__contact--mod4 {
  font-weight: 600;
}
@media (min-width: 1280px) {
  .contact-info__contact {
    padding-right: 25px;
    margin-left: 50px;
  }
}
.contact-info__logo {
  display: none;
}
@media (min-width: 768px) {
  .contact-info__logo {
    display: flex;
    padding-left: 250px;
  }
}
@media (min-width: 1280px) {
  .contact-info__logo {
    padding-left: 675px;
  }
}
@media (min-width: 768px) {
  .contact-info__logo2 {
    display: none;
  }
}

.additional-info {
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .additional-info {
    padding-bottom: 20px;
  }
}
.additional-info__image {
  padding-bottom: 15px;
}
.additional-info--mod {
  font-size: 12px;
  padding-bottom: 15px;
}
@media (min-width: 1280px) {
  .additional-info--mod {
    padding-left: 50px;
  }
}
@media (min-width: 1280px) {
  .additional-info {
    font-size: 14px;
  }
}/*# sourceMappingURL=shows.css.map */